body{
    font: 15px/1.5 Arial, Helvetica ,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
}
.link {
    color: gray !important;
    font-weight: bold;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;

}
header{
    
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height:70px ;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
header .current a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #e2491d;
   
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #logo{
    float: left;

}
header #logo h1{
    margin: 0;
}
header nav{
    float: right;
margin-top: 10px;
}
header .highlight{
    color: #e2491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    
}
/* showcase */
#showcase{
    background-image: url('https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_1280.jpg');
    min-height: 400px;
    text-align: center;
    color: #ffffff;
}
    #showcase h1{
        margin-top: 100px;
        margin-bottom:10px;
        font-size: 25px;
    }
    #showcase p{
        font-size: 15px;
    }
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    background-color: #35424a;
}
#newsletter .heading h1{
    margin-left: 40px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#newsletter form{
    margin-right: 20px;
    float: right;
    margin-top: 0px;
    padding: 0;
}
#newsletter input[type='email']{
    
    height:25px ;
    width: 250px;
}
.button_1{
    height:38px ;
    background-color: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

#boxes{
    
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}
#boxes .box img{
    width:90px;

}
.para{
    padding-bottom: 8%;
}

aside #sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .quote input,aside#sidebar.quote textarea{
    width: 90%;
    padding: 5px;
}
/* main-col */
article #main-col{
    float: left;
    width: 65%;
 }
.dark{
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 15px;
    background-color:gray;
    color: #ffffff;
} 
#main .container{
    display: flex;
    justify-content: space-between;
}
/* services */
ul#services li{
    list-style-type: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}
footer{
    margin-bottom: 0;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
.blog{

    margin-top: 7%;
}
.pro-img{
    
    height: 150px;
    width: 210px;
}
#title{
    font-weight: bold;
    margin-left: 10%;
    font-size: 17px;
    padding-bottom: 15px;
}
.pro-container{
    margin-right: 5%;
    margin-left:5%;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    
 }

/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


  */
  .project-section{
    padding: 20px;
    margin: 20px;
    border: #cccccc solid 1px;
  }
